* {
    box-sizing: border-box;
}

body {
    color: #777777;
    font-family: 'Helvetica Neue', Helvetica, 'Arial', sans-serif;
    background-image: url("../images/frenchstucco.png")
}

a {
    text-decoration: none;
    color: #63E4DD;
}

a:visited {
    color: #1C403E;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    letter-spacing: 1px;
}

header {
    background-color: #4aaaa5;
}

nav {
    background-color: white;
}

header h1 {
    color: white;
}

header, nav {
    height: 95px;
    text-align: center;
    line-height: 95px;
    margin: 0px; 
    /* width: 100%; */
    float: left;
}

#topcontiner {
    max-width: 960px;
}


/* Diagnostic borders */

header, nav {
    border: 1px solid black;
}

#topcontainer, .sidebyside {
    border: 3px dashed blue;
}
.sidebyside {
    display: flex;
    /* border: 3px dashed purple; */
}

.container {
    border: 3px dotted orange;
    
}





/* New Media Query stuff  */

@media screen and (max-width: 980px) {


 

}

@media screen and (max-width: 768px) {
    

}

@media screen and (max-width: 640px) {

    
}
